/*
COLORES PALETA:
gris menu lateral: #393939;
gris titular: #d8d8d8;
gris botones: #888888;
gris boton inactivo: #cccccc;
gris fondo: #ededed;

negro tipografia titulos: #ededed;

blanco tipografia menu lateral: #ffffff;

violeta: #a56cff;
naranja: #ff906e;
azul: #6c96ff;

amarillo carteles: #fffacc;
*/

/*----SELECTOR UNIVERSAL-----*/
* {
	padding: 0px;
	margin-right: 0px;
	box-sizing: border-box;
}

/*----CLASE UNIVERSAL-----*/
.no-margin-padding{
    margin: 0px;
    padding: 0px;
}


/*---COLORES TAGS---*/
span.blanco{
  background: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}

span.azul{
  background: #1581c4;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}

span.amarillo{
  background: #fed130;
  padding: 3px 10px;
  border-radius: 4px;
}

span.rojo{
  background: #da0a1f;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}

span.negro{
  background: #000000;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}


/*----ICONOS-TABLAS-----*/
.fa-arrow-circle-down{
  font-size: 16px;
}

.fa-trash{
  font-size: 16px;
  color: #da0a1f;
}

.fa-tags{
  font-size: 16px;
  padding-right: 3px;
}

.fa-pencil{
  font-size: 16px;
  padding-right: 3px;
}

.fa-list{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-lock{
  font-size: 16px; 
  padding-right: 3px;
}

/*----TIPOGRAFÃA-----*/
@font-face {
    font-family: "OpenSans-light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/fonts/open_sans/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/fonts/open_sans/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-bold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/fonts/open_sans/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.ttf") format("truetype");
}


body{
	font-family: "OpenSans";
	background-color: #ededed;
}
/*---------------fin------------------*/



/*----MENU LATERAL-----*/
header {
    margin-right: 0px;
    margin-left: 0px;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto; 
    margin-left: auto;
}

.logo-menu-lateral {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-lateral{
	padding: 0px;
	background-color: #393939;
}

.nav{
	color: #ffffff;
}

.nav li{
	padding: 15px 15px 13px 10px;
    font-size: 12px;
}

.navbar-default {
    background-color: #393939;
    border-color: #393939;
}

.navbar-toggle{
	margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 5px;
} 

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
/*---------------fin------------------*/


/*----CABECERA DE PAGINA GRIS-----*/

.title-site{
  background-color: #d8d8d8;
}

h6{
  font-family: "OpenSans";
}

h2,
h5,
h4,
h3,
h6{
  font-family: "OpenSans-bold";
}

.titulo-nueva-venta h5{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.titulo-admin-loyla h6{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.alineacion-titulos{
    display: flex;
    align-items: flex-end;
}
/*---------------fin------------------*/




/*----DASHBOARD-----*/
.dashboard-cabeceras{
  background-color: #393939;
  color: #ffffff;
  padding: 5px 5px 5px 15px;
  margin: 10px 0px 10px 0px;
}

.dashboard-cabeceras h5{
  font-size: 12px;
  font-family: "OpenSans";
}


.dashboard-tablas{
  background-color: #ededed;
}

.dashboard-tablas tbody tr th{
  font-family: "OpenSans";
  font-size: 12px;

}

.dashboard-tablas tbody tr td{
  font-family: "OpenSans";
  font-size: 12px;

}

.alineacion-texto-en-tablas{
    text-align: right;
}

/*colores de las tablas*/
.texto-violeta{
  color: #a56cff; 
}

.texto-naranja{
  color: #ff906e; 
}

.texto-azul{
  color: #6c96ff; 
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    padding: 5px 10px 0px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

/*---media query---*/
@media screen and (max-width: 767px){

  .table-responsive{
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0px solid #ddd;
    font-size: 10px;
  }
}

.date-picker{
  color: #000000;
  font-size: 8px;
  padding: 3px;
  margin: 0px 10px 0px 5px;
  -webkit-border-radius: 2px;
  border: 0px none #000000;
}
/*---------------fin------------------*/


/*----TRASFERENCIA----*/
.botones{
  background-color: #888888;
  color: #ffffff;
  width: 150px;
}

.form-control {
    height: 30px;
}

.form-group {
    margin: 5px;
}

.btn{
  padding: 4px 12px;
}

.fondo-fila-item{
  background-color: #ffffff;
  padding: 20px 10px 20px 0px;
  margin: 30px 20px 20px 20px;
}

.item-padding{
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.input-codigo-padding{
    margin: 0px;
    padding: 0px;
}

/*---media query---*/
@media screen and (max-width: 767px){

  .item-mobile{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .margin-columnas-item{
    margin: 10px 0px 10px 0px;
    padding: 0px;
  }

  .item-padding {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}
}

.fondo-fila-prendas-seleccionadas{
  background-color: #ffffff;
  padding: 20px 30px 20px 30px;
  margin: 0px 20px 20px 20px;
  overflow:auto;
}

.table>thead>tr>th.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table>tbody>tr>td.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table>tbody>tr>th.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ededed;
}


.trasferencia-a-local-espacios {
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
}

.trasferencia-opciones-de-local{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
}

label {
  margin-bottom: 0px;
}

.boton-buscador-espacios{
    padding: 0px 0px 20px 20px;
    margin: 0px 5px 20px 20px;
    width: 200px;
}

.boton-cancelar-espacios{
  width: 120px;
}

.cancelar-btn{
 font-weight: 700;
 background-color: #ededed;
 color: #333;
 width: 150px;
}

 .botones-trasferencia-alineacion{
  display: flex;
  justify-content: flex-end;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .botones-trasferencia-responsive {
    padding: 0px 5px 0px 0px;
    margin: 0px 25px 20px 20px;
    display: flex;
    justify-content: flex-end;
    }

  .cancelar-btn{
   font-weight: 700;
   background-color: #ededed;
   color: #333;
   width: 60px;
  }

}
/*---------------fin------------------*/




/*----REPORTES----*/

.totales-reportes{
 background-color: #d8d8d8;
 padding: 15px;
 margin-top: 20px;
}

.date-picker-reportes{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  padding: 6px 12px 6px 12px;
}

.reportes-cabecera h5 {
    font-size: 12px;
    font-family: "OpenSans";
    padding: 2px 10px 2px 10px;
}

.margen-izq-reportes{
  margin-left: 30px;
}

.boton-generar-reportes{
  margin-left: 20px;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .reportes-cabecera h5 {
    font-size: 12px;
    font-family: "OpenSans";
    padding: 2px 10px 2px 0px;
}

  .margen-izq-reportes{
  margin-left: 0px;
}

.dashboard-cabeceras {
  padding: 5px 5px 5px 5px;
}

.no-margin-padding-responsive{
  margin: 0px;
  padding: 0px;
}


.boton-generar-reportes{
  margin-left: 0px;
}

}
/*---------------fin------------------*/



/*----PRENDAS----*/

.fondo-prendas{
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.paginador{
  margin: 0px 20px 10px 5px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #d8d8d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #000000;
    cursor: default;
    background-color: #ededed;;
    border-color: #ddd;
}

.selector-pagina{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  margin: 20px 20px 20px 0px;
}

.h6-ir-pagina{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  margin: 20px 0px 20px 0px;
  padding: 0px;
}


.fondo-filtros {
    margin: 0px 20px 0px 20px;
}

.filtros-espacios{
  margin: 0px 10px 20px 10px;
}

.filtros-espacios-2 {
    margin: 0px 10px 20px 10px;
}

.margen-filtros{
  margin-top: 30px;
}

.filtros-prendas-input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.boton-buscar-filtros{
    float: right;
    margin: 0px 0px 25px 10px;
}

.total,
.colgadas,
.descolgadas{
  font-size: 8px;
  background-color: #888888;
  color: #fff;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.margen-tags{
  margin-top: 20px;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .selector-pagina {
    font-size: 14px;
    line-height: 1.42857143;
    color: #a09999;
    margin: 0px 20px 20px 0px;
    }

    .h6-ir-pagina {
    margin: 0px;
    padding: 0px;
    } 

    .h6-ir-pagina h6{
    margin: 0px 0px 10px 5px;
    } 

    .ajustes-paginador-responsive{
      padding: 0px 15px 0px 15px;
    }

    .margen-tags{
      display: none;
    }
}
/*---------------fin------------------*/


/*----CLIENTES----*/

.fondo-de-caja-1,
.fondo-de-caja-2,
.fondo-de-caja-3{
 padding: 20px;
}

.fondo-de-caja-1{
  background-color: #fff;
  padding: 20px 20px 7px 20px;
}

.fondo-de-caja-2{
  background-color: #fff;
  background-color: #ff906e;
}

.fondo-de-caja-3{
  background-color: #fff;
  background-color: #6c96ff;
}

.backgrounds-cajas-clientes-1{
  padding: 10px 10px 10px 0px;
  font-size: 12px;

}

.backgrounds-cajas-clientes-2{
  padding: 10px;
  font-size: 12px;
  color: #fff;

}

.backgrounds-cajas-clientes-3{
  padding: 10px 0px 10px 10px;
  font-size: 12px;
  color: #fff;
}

ul li{
  text-decoration: none;
  list-style: none;
}

.fondo-fila-cajas-clientes{
  padding: 10px;
  margin: 10px;
}

.name-caja{
  font-weight: bold;
}

h6.titulo-caja{
  margin-bottom: 5px;
}

tbody tr td.no-margin-padding{
    margin: 0px;
    padding: 0px;
}


/*---media query---*/
@media screen and (max-width: 768px){

.fondo-de-caja-1{
  overflow: auto;
}

.fondo-de-caja-2{
  overflow: auto; 
}

.fondo-de-caja-3{
  overflow: auto;  
}

}

@media screen and (max-width: 320px){

.backgrounds-cajas-clientes-1{
  padding: 0px;
}

.backgrounds-cajas-clientes-2{
  padding: 0px;
}

.backgrounds-cajas-clientes-3{
  padding: 0px;
}

}
/*---------------fin------------------*/





/*----LIMPIEZA----*/

.fondo-filtros-limpieza{
  margin: 10px 20px 20px 20px;
  background-color: #fff;

}

.filtros-limpieza-input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ededed;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.filtros-espacios-limpieza{
    margin: 20px 10px 20px 10px;
}

.fondo-cuelgue-descuel{
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    margin: 0px 20px 30px 20px;
    overflow: auto;
}

.contenedor-botones{
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}
 
.margen-responsive{
    margin-bottom: 10px;
}

.descolgar{
  margin-right: 50px;
}

/*---media query---*/
@media screen and (max-width: 767px){

.contenedor-botones{
    margin: 0px;
    display: inline-block;
}

.descolgar{
  margin-right: 0px;
}

}

@media screen and (max-width: 768px){

.descolgar{
  margin-right: 0px;
}

}

.fondo-filtros-limpieza-blank {
    margin: 10px 20px 0px 20px;
    background-color: #fff;
}

.margen-pistolee{
  padding: 5px 40px 5px 40px;
  background-color: #fffacc;
  margin: 0px 35px 0 35px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
/*---------------fin------------------*/




/*----VENTAS-BUSCADOR----*/
.fondo-filtros-ventas-busqueda {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 15px 20px;
    overflow: auto;
}

.filtros-espacios-ventas {
    margin: 0px 20px 20px 0px;
}


input.date-picker-ventas {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #a09999;
    padding: 4px 16px 4px 12px;
    width: 190px;
}

.botone-crear-venta {
    background-color: #888888;
    color: #ffffff;
    width: 120px;
}

@media screen and (min-width: 768px){
  input.date-picker-ventas {
    width: 110px;
}
}

@media screen and (min-width: 1024px){
  input.date-picker-ventas {
    width: 180px;
}
}

@media screen and (min-width: 1440px){
  input.date-picker-ventas {
    width: 270px;
}
}

/*---------------fin------------------*/




/*----ADQUISICIONES-BUSCADOR----*/

.filtros-espacios-adquisiciones {
    margin: 0px 18px 20px 0px;
}


/*---------------fin------------------*/



/*----USUARIOS----*/
.botone-crear-usuario{
  background-color: #888888;
  color: #ffffff;
  width: 150px;
}
/*---------------fin------------------*/



/*----OPERACIONES----*/
.botone-crear-operacion{
  background-color: #888888;
  color: #ffffff;
  width: 150px;
  font-size: 12px;
}

.fondo-filtros-operaciones {
    background-color: #ffffff;
    padding: 20px 10px 0px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.fondo-filtros-operaciones-cheeckbox{
    background-color: #ffffff;
    padding: 20px 10px 20px 30px;
    margin: 0px 20px 15px 20px;
    overflow: auto;
}

.checkbox-operaciones,
.checkbox-operaciones-frase{
  display: inline-block;
}

.checkbox-operaciones-frase{
  padding-left: 5px;
}


.checkbox-conjunto{
  padding-top: 5px;
  padding-bottom: 5px;
}
/*---------------fin------------------*/



/*----CAJAS----*/
.scrool-tablas-cajas{
  overflow: auto;
}

.fondo-filtros-cajas-1 {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.fondo-filtros-cajas-2 {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 20px 20px;
    overflow: auto;
}

/*---------------fin------------------*/
