/*
COLORES PALETA:
gris menu lateral: #393939;
gris titular: #d8d8d8;
gris botones: #888888;
gris boton inactivo: #cccccc;
gris fondo: #ededed;


negro tipografia titulos: #ededed;

blanco tipografia menu lateral: #ffffff;

violeta: #a56cff;
naranja: #ff906e;
azul: #6c96ff;

rosa-limpieza: #ff0066;
azul-limpieza: #1c7ef9;

amarillo carteles: #fffacc;
*/

/*----SELECTOR UNIVERSAL-----*/
* {
	padding: 0px;
	margin-right: 0px;
	box-sizing: border-box;
}

/*----CLASE UNIVERSAL-----*/
.no-margin-padding{
    margin: 0px;
    padding: 0px;
}


/*---COLORES TAGS---*/
span.blanco{
  background: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}

span.azul{
  background: #1581c4;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}

span.amarillo{
  background: #fed130;
  padding: 3px 10px;
  border-radius: 4px;
}

span.rojo{
  background: #da0a1f;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}

span.negro{
  background: #000000;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}

span.rosa {
  color: #ff5196;
  font-family: "OpenSans-Bold";
  font-size: 12px;
  display: inline-block;
  position: relative;
  float: right;
  padding: 5px 5px 5px 5px;
}

span.verde {
    color: #80ff00;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    display: inline-block;
    position: relative;
    float: right;
    padding: 8px 5px 5px 5px;
}

span.white{
  font-family:"OpenSans-Bold";
  font-size: 12px;
  display: inline-block;
  position: relative;
  float: right;
  padding: 5px 5px 5px 5px;
}


/*---COLORES TAGS---*/
span.gris{
  background: #cccccc;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 4px;
}

.tags{
  margin: 5px 0px 5px 0px;
}

/*----ICONOS-TABLAS-----*/
.fa-times{
  padding: 5px;
}
.fa-arrow-circle-down{
  font-size: 16px;
}

.fa-trash{
  font-size: 16px;
  color: #da0a1f;
}

.fa-minus-circle{
 font-size: 16px;
  color: #da0a1f; 
}

.fa-tags{
  font-size: 16px;
  padding-right: 3px;
}

.fa-pencil{
  font-size: 16px;
  padding-right: 3px;
}

.fa-list{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-lock{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-calculator{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-credit-card{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-gift{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-check{
  font-size: 16px;
  color: #ffffff;
}

.fa-plus{
  font-size: 16px;
  color: #ffffff;
}

.fa-print{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-recycle{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-usd{
  font-size: 16px; 
  padding-right: 3px;  
}

.fa-eye{
  font-size: 16px; 
  padding-right: 3px;  
}

.icon-eye{
  color: #000000;
}

.agregar-tarjetas-iconos{
  font-size: 16px;
  color: #ffffff;
}

.fa-asterisk{
  font-size: 16px; 
  padding-right: 3px;
}

.fa-archive{
  font-size: 16px;
}

.archive-rosa{
  color: #ff0066;
}

.archive-azul{
  color: #1c7ef9;
}


.fa-check-circle{
  font-size: 16px; 
  padding-right: 5px;
  color: #2ead2e;
}

.fa-times-circle{
  font-size: 16px; 
  padding-right: 5px;
  color: #da0a1f;
}


.fa-arrow-down{
  font-size: 15px; 
  padding-left: 5px;
}

.fa-arrow-up{
  font-size: 15px; 
  padding-left: 5px;
}



.fa-arrow-right{
  font-size: 15px; 
  padding-left: 5px;
}


/*-----MODAL------*/
.chevron-descolgadas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.fa-chevron-left{
  color: #cccccc;
  font-size: 20px;
}

.fa-chevron-right{
  color: #cccccc;
  font-size: 20px;
}

/*----TIPOGRAFÍA-----*/
@font-face {
    font-family: 'OpenSans-light';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/open_sans/OpenSans-Light.woff') format('woff'), 
        url('../../fonts/open_sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src:  url('../../fonts/open_sans/OpenSans-Regular.woff') format('woff'), 
          url('../../fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/open_sans/OpenSans-Bold.woff') format('woff'), 
        url('/fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 7px;
    margin-bottom: 7px;
}

body{
	font-family: "OpenSans";
	background-color: #ededed;
}
/*---------------fin------------------*/

span.bold{
  font-family: "OpenSans-Bold";
}

/*----MENU LATERAL-----*/
header {
    margin-right: 0px;
    margin-left: 0px;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto; 
    margin-left: auto;
}

.logo-menu-lateral {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-lateral{
	padding: 0px;
	background-color: #393939;
}

.nav{
	color: #ffffff;
}

.nav li{
	padding: 15px 15px 13px 10px;
  font-size: 13px;
}

.navbar-default {
    background-color: #393939;
    border-color: #393939;
}

.navbar-toggle{
	margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 5px;
} 

.container-fluid>.navbar-collapse, 
.container-fluid>.navbar-header, 
.container>.navbar-collapse, 
.container>.navbar-header {
    margin-right: 0px;
    margin-left: 10px;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0px;
    color: #fff;
    text-decoration: none;
}

li{
  cursor: pointer;
}

a {
    color:  #fff;
    text-decoration: none;
}


a:focus, a:hover {
    color: #d8d8d8;
    text-decoration: none;
}


li:focus, li:hover {
    color: #d8d8d8;
    text-decoration: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}


/*---------------fin------------------*/



/*----CABECERA DE PAGINA GRIS-----*/

.title-site{
  background-color: #d8d8d8;
}

h6{
  font-family: "OpenSans";
}

h2,
h5,
h4,
h3,
h6{
  font-family: "OpenSans-bold";
}

.titulo-nueva-venta h5 {
    font-size: 20px;
    margin-left: 20px;
}

.titulo-admin-loyla h6{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.alineacion-titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*---------------fin------------------*/




/*----DASHBOARD-----*/

.dashboard-cabeceras{
  background-color: #393939;
  color: #ffffff;
  padding: 1px 5px 1px 15px;
  margin: 20px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.alinecion-en-cabecera-izq{
  display: flex;
  justify-content: flex-start;
}

.alinecion-en-cabecera-der{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.dashboard-cabeceras h5{
  font-size: 14px;
  font-family: "OpenSans";
  display: inline-block;
}


.dashboard-tablas{
  background-color: #ededed;
}

.dashboard-tablas tbody tr th{
  font-family: "OpenSans";
  font-size: 12px;

}

.dashboard-tablas tbody tr td{
  font-family: "OpenSans";
  font-size: 12px;

}

.alineacion-texto-en-tablas{
    text-align: right;
}

table>tbody>tr>td.bold{
  font-family: "OpenSans-Bold";
}

table>tbody>tr>th.bold{
  font-family: "OpenSans-Bold";
}

/*colores de las tablas*/
.texto-violeta{
  color: #a56cff; 
}

.texto-naranja{
  color: #ff906e; 
}

.texto-azul{
  color: #6c96ff; 
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    padding: 5px 10px 0px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}


.ventas-semana-total{
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 20px;
}

/*---media query---*/
@media screen and (max-width: 767px){

  .table-responsive{
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0px solid #ddd;
    font-size: 10px;
  }

  .dashboard-cabeceras{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

  .dashboard-cabeceras h5 {
    font-size: 11px;
    font-family: "OpenSans";
    display: inline-block;
}
}

.date-picker {
    color: #000000;
    font-size: 12px;
    padding: 5px;
    margin: 0px 25px 0px 5px;
    -webkit-border-radius: 2px;
    border: 0px none #000000;
    width: 155px;
    text-align: center;
    vertical-align: middle;
}

/*---------------fin------------------*/


/*----TRASFERENCIA----*/
.botones {
  background-color: #888888;
  color: #ffffff;
  width: 100%;
}

.trasferencia-botones-alineacion {
    padding: 20px 0px 20px 20px;
    margin: 0px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
}


.form-control {
    height: 30px;
}

.form-group {
    margin: 5px;
}

.btn{
  padding: 4px 12px;
}

.fondo-fila-item{
  background-color: #ffffff;
  padding: 20px 10px 20px 0px;
  margin: 30px 20px 20px 20px;
}

.item-padding{
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.input-codigo-padding{
    margin: 0px;
    padding: 0px;
}


.info-producto{
  color: #393939;
  font-size: 12px;
  padding-top: 5px;
}

.color-span{
  padding-top: 10px;
}

h2.titulo-producto-modal{
  margin: 0px 35px 0px 20px;
}

.precio-modal{
  font-family: "OpenSans-bold";
  font-size: 35px;
}

.precio-margen{
  margin-top: 20px;
}

.warnign-1{
  color: #da0a1f;
  font-size: 23px;
  font-family: "OpenSans-bold";
}

.warnign-2{
  color:#da0a1f;
  font-size: 22px;
}



.btn-transferir-modal{
  background-color: #888888;
  border-color: #888888;
  color: #ffffff;
}



/*---media query---*/
@media screen and (max-width: 767px){

  .item-mobile{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .margin-columnas-item{
    margin: 10px 0px 10px 0px;
    padding: 0px;
  }

  .item-padding {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.trasferencia-botones-alineacion {
    padding: 20px 0px 20px 20px;
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column-reverse;
}

}

.fondo-fila-prendas-seleccionadas {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 20px 20px;
    overflow: auto;
}

.table>thead>tr>th.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table>tbody>tr>td.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table>tbody>tr>th.padding-tabla-prendas-seleccionadas{
  padding: 10px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ededed;
}


.trasferencia-a-local-espacios {
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
}

.trasferencia-opciones-de-local{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
}

label {
  margin-bottom: 0px;
}

.boton-buscador-espacios{
    padding: 0px 0px 20px 20px;
    margin: 0px 5px 20px 20px;
    width: 200px;
}

.boton-cancelar-espacios{
  width: 120px;
}

.cancelar-btn{
 font-weight: 700;
 background-color: #ededed;
 color: #333;
 width: 100%;
}

 .botones-trasferencia-alineacion{
  display: flex;
  justify-content: flex-end;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .botones-trasferencia-responsive {
    padding: 0px 5px 0px 0px;
    margin: 0px 25px 20px 20px;
    display: flex;
    justify-content: flex-end;
    }

  .cancelar-btn{
   font-weight: 700;
   background-color: #ededed;
   color: #333;
   width: 60px;
  }

}
/*---------------fin------------------*/




/*----REPORTES----*/

.totales-reportes{
 background-color: #d8d8d8;
 padding: 15px;
 margin-top: 20px;
}

.date-picker-reportes{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  padding: 6px 12px 6px 12px;
}

.reportes-cabecera h5 {
    font-size: 12px;
    font-family: "OpenSans";
    padding: 2px 10px 2px 10px;
}

.margen-izq-reportes{
  margin-left: 30px;
}

.boton-generar-reportes{
  margin-left: 20px;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .reportes-cabecera h5 {
    font-size: 12px;
    font-family: "OpenSans";
    padding: 2px 10px 2px 0px;
}

  .margen-izq-reportes{
  margin-left: 0px;
}

.dashboard-cabeceras {
  padding: 5px 5px 5px 5px;
}

.no-margin-padding-responsive{
  margin: 0px;
  padding: 0px;
}


.boton-generar-reportes{
  margin-left: 0px;
}

}
/*---------------fin------------------*/



/*----PRENDAS----*/

.fondo-prendas {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.paginador{
  margin: 0px 20px 10px 5px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #d8d8d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #000000;
    cursor: default;
    background-color: #ededed;;
    border-color: #ddd;
}

.selector-pagina{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  margin: 20px 20px 20px 0px;
}

.h6-ir-pagina{
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a09999;
  margin: 20px 0px 20px 0px;
  padding: 0px;
}


.fondo-filtros {
    margin: 0px 20px 0px 20px;
}

.filtros-espacios{
  margin: 0px 10px 20px 10px;
}

.filtros-espacios-2 {
    margin: 0px 10px 20px 10px;
}

.margen-filtros {
  margin-top: 15px;
}

.filtros-prendas-input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.boton-buscar-filtros{
    float: right;
    margin: 0px 0px 25px 10px;
}

.total,
.colgadas,
.descolgadas{
  font-size: 10px;
  background-color: #888888;
  color: #fff;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

.margen-tags{
  margin-top: 20px;
}


.boton-buscador-prendas{
    position: relative;
    float: right;
    margin-bottom: 20px;
}

/*---media query---*/
@media screen and (max-width: 767px){
  .selector-pagina {
    font-size: 14px;
    line-height: 1.42857143;
    color: #a09999;
    margin: 0px 20px 20px 0px;
    }

    .h6-ir-pagina {
    margin: 0px;
    padding: 0px;
    } 

    .h6-ir-pagina h6{
    margin: 0px 0px 10px 5px;
    } 

    .ajustes-paginador-responsive{
      padding: 0px 15px 0px 15px;
    }

    .margen-tags{
      display: none;
    }
}
/*---------------fin------------------*/


/*----CLIENTES----*/

.fondo-de-caja-1,
.fondo-de-caja-2,
.fondo-de-caja-3{
 padding: 15px 0px 0px 18px;
}

.fondo-de-caja-1 {
  background-color: #fff;
  padding: 12px 20px 1px 20px;
}

.fondo-de-caja-2{
  background-color: #fff;
  background-color: #ff906e;
}

.fondo-de-caja-3{
  background-color: #fff;
  background-color: #6c96ff;
}

.backgrounds-cajas-clientes-1{
  padding: 10px 10px 10px 0px;
  font-size: 12px;

}

.backgrounds-cajas-clientes-2{
  padding: 10px;
  font-size: 14px;
  color: #fff;

}

.backgrounds-cajas-clientes-3{
  padding: 10px 0px 10px 10px;
  font-size: 14px;
  color: #fff;
}

.info-tabla-margen{
  margin-top: 30px;
}

ul li{
  text-decoration: none;
  list-style: none;
}

.fondo-fila-cajas-clientes{
  padding: 10px;
  margin: 10px;
}

.name-caja{
  font-family: "OpenSans-bold";
}

h6.titulo-caja{
  margin: 0px;
}

tbody tr td.no-margin-padding{
    margin: 0px;
    padding: 0px;
}


/*---media query---*/
@media screen and (max-width: 768px){

.fondo-de-caja-1{
  overflow: auto;
}

.fondo-de-caja-2{
  overflow: auto; 
}

.fondo-de-caja-3{
  overflow: auto;  
}

}

@media screen and (max-width: 320px){

.backgrounds-cajas-clientes-1{
  padding: 0px;
}

.backgrounds-cajas-clientes-2{
  padding: 0px;
}

.backgrounds-cajas-clientes-3{
  padding: 0px;
}

}
/*---------------fin------------------*/





/*----LIMPIEZA----*/

.fondo-filtros-limpieza {
    margin: 0px 20px 20px 20px;
    background-color: #fff;
}

.filtros-limpieza-input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ededed;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.filtros-espacios-limpieza{
    margin: 20px 10px 20px 10px;
}

.fondo-cuelgue-descuel {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 30px 20px;
    overflow: auto;
}

.contenedor-botones{
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
 
.margen-responsive{
    margin-bottom: 10px;
}

.descolgar{
  margin-right: 50px;
}

tbody.cursor{
  cursor: pointer;
}

/*---media query---*/
@media screen and (max-width: 767px){

.contenedor-botones{
    margin: 0px;
    display: inline-block;
}

.descolgar{
  margin-right: 0px;
}

}

@media screen and (max-width: 768px){

.descolgar{
  margin-right: 0px;
}

}

.fondo-filtros-limpieza-blank {
    margin: 10px 20px 0px 20px;
    background-color: #fff;
}

.margen-pistolee{
  padding: 5px 40px 5px 40px;
  background-color: #fffacc;
  margin: 0px 35px 0 35px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
/*---------------fin------------------*/




/*----VENTAS-BUSCADOR----*/
.fondo-filtros-ventas-busqueda {
    background-color: #ffffff;
    padding: 10px 30px 0px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.filtros-espacios-ventas {
    margin: 0px 20px 20px 0px;
}

.fondo-ventas{
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

input.date-picker-ventas {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #a09999;
    padding: 4px 16px 4px 12px;
    width: 100%;
}

.botone-crear-venta {
    background-color: #888888;
    color: #ffffff;
    width: 120px;
}


.pagos{
  display: block;
}

.btn-ok-modal{
  background-color: #888888;
  color: #ffffff;
}

tbody>tr>th>i.cursor{
  cursor: pointer;
}

tbody>tr>td>i.cursor{
  cursor: pointer;
}

i.cursor{
 cursor: pointer; 
}
/*---------------fin------------------*/




/*----ADQUISICIONES-BUSCADOR----*/

.filtros-espacios-adquisiciones {
    margin: 0px 18px 20px 0px;
}


/*---------------fin------------------*/



/*----USUARIOS----*/
.botone-crear-usuario{
    background-color: #888888;
    color: #ffffff;
    width: 100%;
}

.botone-crear-usuario-padding{
    padding-right: 20px;
}
/*---------------fin------------------*/



/*----OPERACIONES----*/
.botone-crear-operacion{
  background-color: #888888;
  color: #ffffff;
  width: 150px;
  font-size: 12px;
}

.fondo-filtros-operaciones {
    background-color: #ffffff;
    padding: 20px 10px 0px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.fondo-filtros-operaciones-cheeckbox {
    background-color: #ffffff;
    padding: 10px 10px 10px 30px;
    margin: 0px 20px 15px 20px;
    overflow: auto;
}

.checkbox-operaciones,
.checkbox-operaciones-frase{
  display: inline-block;
}

.checkbox-operaciones-frase{
  padding-left: 5px;
}


.checkbox-conjunto{
  padding-top: 5px;
  padding-bottom: 5px;
}

.fondo-buscador-operaciones {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 15px 20px 0px 20px;
    overflow: auto;
}

.boton-crear-operacion{
    text-align: right;
    padding-right: 20px;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    border-radius: 4px;
}

.dropdown-menu {
    position: relative;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #8c8c8c;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #888;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    border-radius: 4px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.btn .caret {
    margin-left: 10px;
}
/*---------------fin------------------*/



/*----CAJAS----*/
.scrool-tablas-cajas{
  overflow: auto;
}

.fondo-filtros-cajas-1 {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.fondo-filtros-cajas-2 {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 20px 20px;
    overflow: auto;
}

/*---------------fin------------------*/


/*----NUEVA VENTA----*/

.fondo-comprea-nueva-venta {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    overflow: auto;
}

.fondo-fila-item-nueva-venta {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    overflow: auto;
}

.fondo-fila-clientes-credito-nueva-venta{
    background-color: #ffffff;
    padding: 20px;
    overflow: auto;
}

.fondo-fila-item-datepicker{
    padding: 20px 5px 15px 20px;
    margin: 0px;
}

.fondo-fila-item-datepicker-2 {
    padding: 15px 20px 15px 5px;
    margin: 0px;
}

.item-estlos{
    margin: 0px 10px 0px 0px;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 16px;
}


.codigo-espacios{
  margin: 0px 10px 0px 10px;
}

.boton-ok{
    background-color: #888888;
    margin: 0px 10px 0px 0px;
    color: #ffffff;
}

.buscador{
  margin-left: 20px;
}

.fondo-datepicker-nueva-venta {
    background-color: #ffffff;
    padding: 10px 15px 2px 15px;
    overflow: auto;
}

.fondo-fila-cliente-nueva-venta{
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
    margin: 10px 20px 20px 20px;
    overflow: auto;
}


.subtotal-con-decuento,
.total-descontando-creditos{
  font-family: "OpenSans-bold";
  font-size: 16px;
  display: inline-block;
}

.fondo-sector-cliente {
    margin: 0px 35px 30px 35px;
}

h5.alineacion{
  margin: 5px;
}

h6.desc-cred{
  margin-left: 5px;
}

.desc-cred{
  margin-left: 10px;
}

.desc-cred-tipo{
      font-size: 10px;
}


.fondo-fila-cliente-nueva-venta-ok{
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    margin-right: 20px;
}

.fondo-fila-cliente-nueva-venta-2{
    background-color: #ffffff;
    padding: 23px 0px 25px 20px;
    overflow: auto;
}

.espacio {
    margin-top: 0px;
    margin-bottom: 10px;
}

input.date-picker-n-ventas {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #a09999;
    padding: 4px 16px 4px 12px;
    width: 100%;
}


.alineacion-buscador-nv{
  display: flex;
  justify-content: flex-end;
}

.form-control-porcentaje {
    display: block;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


.total-precio{
  font-family: "OpenSans-Bold";
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}

.boton-facturar-vn {
    padding: 0px 0px 20px 20px;
    margin: 0px 30px 20px 20px;
}

@media screen and (max-width: 768px){
.codigo-espacios {
  margin: 0px;
}

.boton-ok {
    background-color: #888888;
    margin: 10px 10px 0px 15px;
    color: #ffffff;
}

.buscador {
  margin: 10px 0px 10px 0px;
}

.desc-cred {
  margin-left: 0px;
}

h5.alineacion {
  margin: 10px 0px 0px 0px; 
}

.inputs-responsibe-nv{
  padding: 0px 20px 20px 0px;
}

.espacio {
    margin-top: 10px;
    margin-bottom: 10px;
}

input.date-picker-n-ventas {
    width: 100%;
}

.alineacion-buscador-nv{
  display: flex;
  justify-content: flex-start;
}

}




@media screen and (max-width: 767px){
  .buscador {
    margin: 10px 0px 10px 15px;
}

.fondo-fila-item-datepicker {
    padding: 20px 20px 15px 20px;
    margin: 0px;
}

.fondo-fila-item-datepicker-2 {
    padding: 15px 20px 15px 20px;
    margin: 0px;
}

.fondo-fila-item-nueva-venta {
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
    overflow: auto;
    margin-bottom: 20px;
}

}

.form-control-tajeta {
    display: block;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    width: 100%;
}


.boton-mas {
    background-color: #888888;
    margin: 0px 0px 0px 10px;
    color: #ffffff;
}

.desc-cred-tipo {
    font-size: 12px;
}

.total-precio-venta{
  font-family: "OpenSans-Bold";
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.total-fondo{
  background: #ededed;
  margin-top: 20px;
}

.agregar-tarjetas{
  margin-top: 10px; 
}
/*---------------fin------------------*/



/*----ADQ. CATALOGACION----*/

.fila-buscador-catalogacion {
    padding: 20px 20px 15px 20px;
    margin: 0px;
}

.codigo-espacios-catalogar {
    margin: 0px 10px 0px 0px;
}
.separacion-entre-rows-catalogacion{
  margin: 5px 0px 5px 0px;
}

.alineacion-item-titulares{
  text-align: right;
  padding-right: 20px;
}

span.item-titulares{
  font-size: 12px;
  padding: 0px;
}


span.precio{
  font-size: 12px;
  background-color: #ededed;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

.botones-adquisiciones-catalogar{
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-top: 10px;
}

.botones-catalogar {
    padding: 0px 0px 20px 20px;
    margin: 20px 30px 20px 20px;
}
/*---------------fin------------------*/




/*----ELEMENTOS > CATEGORÍAS----*/


.botone-agregar {
    background-color: #888888;
    color: #ffffff;
    width: 120px;
}

.filtros-espacios-tipos{
    margin: 0px 15px 20px 0px;
}

.fondo-categorias {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    margin: 15px 20px 0px 20px;
    overflow: auto;
}


.botones-combinar{
    background-color: #888888;
    color: #ffffff;
    width: 100%;
}
/*---------------fin------------------*/



/*----LIMPIEZA-RETIROS----*/

td.archive-rosa{
  color: #ff0066;
}

td.archive-azul{
  color: #1c7ef9;
}

.btn-descolgar{
  margin-right: 10px;
}

/*---------------modal--ESTADO PRENDAS------------------*/
h6.modal-title-name{
  font-size: 20px;
  font-family: "OpenSans";
  margin: 2px 0px;
}

.btn-cerrar-modal{
    color: #333;
    background-color: #fff;
    border-color: #fff;
    font-family: "OpenSans-bold";
}


.btn-cerrar-modal:hover {
    color: #cccccc;
    background-color: #fff;
    border-color: #fff;
}

td.colgada{
  font-family: "OpenSans-bold";
}

td.vendida{
  font-family: "OpenSans-bold"; 
  color: #1c7ef9;
}

td.descolgada{
  font-family: "OpenSans-bold";
  color: #cccccc;
}

.modal-content{
  border-radius: 0px;
}

/*---------------fin------------------*/




/*---------------modal-DONAR RETIRAR------------------*/

.contenido-acciones{
  padding: 10px;
}

.borde-izq {
    border-left: 1px solid #cccccc;
}

.borde-derecho{
  border-right: 1px solid #cccccc;
}

.borde-abajo{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}


.tabla-desucuelgue-1{
    background-color: #ededed;
    padding: 15px;
}

.tabla-desucuelgue-2{
    background-color: #ffffff;
    padding: 15px;
}

.prendas-subtitulo{
  padding: 0px 0px 0px 15px;
  margin: 0px;
}


.descolgadas-titulo {
    margin-bottom: 10px;
    font-family: "OpenSans-bold";
    margin-top: 10px;
}

.fondo-titulo{
  background-color: #fffacc; 
}

.col-descolgadas{
  display: flex;
  justify-content: space-between;
}
    
/*
violeta: #a56cff;
naranja: #ff906e;
azul: #6c96ff;
*/

.consignacion{
  color: #ffffff;
  background: #6c96ff;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
}

.efectivo{
  color: #ffffff;
  background: #a56cff;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
}

.credito{
  color: #ffffff;
  background: #ff906e;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
}



input.checkbox-limpieza{
  
}

input.checkbox-limpieza{
  width: 30px;
  height: 30px;
}
/*---------------fin------------------*/




/*---------------03 adquisicion-nueva-editar via checkbox------------------*/


.fondo-de-caja-violeta {
    background-color: #a56cff;
    padding: 15px 0px 0px 18px;
    color: #ffffff;
}

.precios{
  font-family: "OpenSans-bold";
}


.filtros-adquisicion {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.table-striped > tbody > tr:nth-child(2n+1) > td.editar-por-cheeckbox{
    background-color: #888888;
}


.botones-na{
    background-color: #888888;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
}


.cancelar-btn-editar-adqui {
    font-weight: 700;
    background-color: #fff;
    color: #333;
    width: 188px;
}
/*---------------fin------------------*/



/*---------------adquisicion-nueva-editar via / editar todo------------------*/

.completes-clientes {
    margin: 10px;
    width: 95%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}


.filtros-clientes {
    margin: 7px 20px 20px 0px;
}

.fondo-filtros-clientes{
    background-color: #ffffff;
    padding: 10px 30px 0px 10px;
    margin: 0px 20px 15px 20px;
    overflow: auto;
}

tbody>tr>td.alinear-texto-derecha{
  text-align: right;
}
tbody>tr>th.alinear-texto-derecha{
  text-align: right;
}

@media screen and (max-width: 768px){
  .contenedor-botones {
    margin: 0px;
    display: inline-block;
}
}


/*---------------fin------------------*/


/*-----pruebas en menu lateral------*/

.main-menu li {
  overflow: hidden;
  display: block;
  transition: all 300ms ease-in-out;
}

.main-menu li ul.submenu {
    display: none;
}



/*-----MODALES ESTILOS COMPARTIDOS------*/
.btn-modal-estilo{
  background-color: #888888;
  color: #ffffff;
  padding: 5px 20px;
}
/*---------------fin------------------*/





/*-----CONSIGNANTES------*/
.info-consiganantes{
  font-family: "OpenSans-Bold";
  font-size: 16px;
  display: inline-block;
}

.total-precio-modal-consignantes{
  font-size: 30px;
  display: inline-block;
  color: #da0a1f;
  margin-left: 10px;
}

.input-deuda{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ededed;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 10px;
    text-align: right;
}

.alinacion-monto{
  display: -webkit-inline-box;
}

.alineacion-derecha{
  text-align: right;
}
.espaciados-modal-consignantes{
  padding: 10px 0px 10px 0px;
}


.centrado-deuda {
  display: flex;
  align-items: center;
}


/*------ADQ. BUSCADOR-----*/

.fondo-modal-deattalle-adq {
    background-color: #ffffff;
    padding: 10px 30px 10px 30px;
    overflow: auto;
}

/*------CIERRE ADQ. BUSCADOR-----*/


/*------talas----*/
thead>tr>th{
  font-family: "OpenSans-Bold";
}
/*------fin talas----*/